body {
	background-color: #e0e0e0;
	margin: 0;
	height: 100vh;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

.mountain-pic {
	width: 100%; /* width of container */
	height: 250px; /* height of container */
	object-fit: cover;
}

.icons {
	font-size: 50px;
	color: black;
}

.footer {
	font-family: 'Dosis';
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
}

.loader {
	border-top: 1px solid #1798c1;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
