body {
	background-color: #e0e0e0;
	margin: 0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

.main-container {
}

.mountain-pic {
	width: 100%; /* width of container */
	height: 250px; /* height of container */
	object-fit: cover;
}

.content-container {
	font-family: 'Dosis';
	text-align: center;
	padding: 40px;
}

.icon-container {
	text-align: center;
}

.icons {
	font-size: 50px;
	color: black;
}

.footer {
	font-family: 'Dosis';
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
